<aside class="col-sm-6 ml-auto blog-sidebar">
  {{ if .Site.Params.sidebar }}
      {{ partialCached "recent.html" .}}
  {{ end }}

  <h3>Spaces in Belgium</h3>
  <ul>
    {{ range $.Site.RegularPages.ByParam "startdate" }}
    {{ if or (eq .Type "spaces") (eq .Type "techtuesday") }}
    <li>
      <a href="{{.Permalink}}">{{.Title}}</a> {{.Params.city}}
    </li>
    {{ end }}{{ end }}
  </ul>
</aside>


